[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.DS_Store
*.apk
*.aab
*.unitypackage
.vscode/
.idea/
Assets/LeanTween/Documentation/
Assets/LeanTween/Editor/
Assets/LeanTween/Examples/
Assets/LeanTween/Testing/
Firebase / Android / iOS

# Ignore Firebase large binaries
Assets/Firebase/Plugins/x86_64/*.bundle
Assets/Firebase/Plugins/x86_64/*.so
Assets/Firebase/Plugins/

Assets/Firebase/
Assets/Plugins/Firebase/
Assets/ExternalDependencyManager/